@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0d0a;
  color: #e8e0d0;
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1e160d;
}
::-webkit-scrollbar-thumb {
  background: #3d2d1c;
  border-radius: 3px;
}
